
/* 
    Archivo: styles.css

    Archivo que contiene los estilos que utilizan las páginas index.jsp y pokemon-registrados.jsp.

    Romo López Manuel
    ID: 00000253080

*/

@import url('./globals.css');

:root{
    
    --bg-color-grey: #E8E8E8;
    --bg-color-blue: #E1F0F7;
    --bg-color-orange: #F2E9D3;
    --bg-color-type-agua: #8FE6FF;
    --bg-color-type-dragon: #9374F2;
    --bg-color-type-electrico: #FAF889;
    --bg-color-type-fantasma: #8B87C4;
    --bg-color-type-fuego: #FFAE78;
    --bg-color-type-hielo: #B0F4FF;
    --bg-color-type-normal: #E3E3E3;
    --bg-color-type-planta: #BFFFBD;
    --bg-color-type-tierra: #C2B0AE;
    --bg-color-type-tierra: #F5DBA4;
    --bg-color-type-veneno: #F0B8F2;
    --bg-color-type-volador: #DCEFF5;
   
}

body{
    margin:0;
    padding: 0;
    font-size: 1.2rem;
}

input, select{
    font-size: 1.2rem;
}

main{
    background-color:var(--bg-color-yellow);
    min-height: 100vh;
    height: auto;
    display:flex;
    align-content: space-around;
    flex-direction: column;
}

h1{
    text-align: center;
    font-weight: 800;
}

.container-new-pokemon{
    background-color: var(--bg-color-white);
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-weight: 700;
}

.form-new-pokemon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.form-new-pokemon div{
    display: flex;
    justify-content: end;
    width: 80%;
}

.container-new-pokemon label{
    margin-right: 5px;
    text-align: right;
}

input, select{
    width: 60%;
}

.container-btn-guardar input{
    width: 30%;
    background-color: var(--bg-color-red);
    color:white;
    border-radius: 10px;
    border:none;
    padding: 5px 0;
}

.container-error-message{
    padding: 10px;
    display:flex;
    justify-content: center;
    font-weight: 700;
}

.container-error-message span{

    color: var(--bg-color-red);
}

.container-header-pokemon{
    display:none;
}

.container-registered-pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 30px;
    column-gap: 10px;
    row-gap: 20px;
}

.container-pokemon{
    background-color: var(--bg-color-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 0;
    border: 5px solid black;
    border-radius: 7px;
    height: auto;
}

.container-pokemon div{
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 700;
    
}

.container-pokemon div:nth-last-child(2){
    height: 100%;
    display: flex;
    align-items: center;
    
}

.container-pokemon span{
    display: flex;
    justify-content: center;
}

.container-pokemon span{
    text-align: center;
}

.pokemon-image{
    grid-area: 1 / 1 / 2 / 2;
    background-color: grey;
    box-sizing: border-box;
    overflow: hidden;
}

.pokemon-image img{
    width: 100%;
    object-fit: contain;
    background-color: var(--bg-color-white);
    margin:0;
    
}

.pokemon-name{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--bg-color-grey);
    height: 100%;
    width: 100%;
    padding:10px;
}

.pokemon-number{
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--bg-color-white);
    height: 100%;
    width: 100%;
    padding:10px;
}

.pokemon-type{

    grid-area: 4 / 1 / 5 / 2;
    height: 100%;
}

.pokemon-name, .pokemon-number, .pokemon-type{
    
    padding: 15px 0;     
    
}

.pokemon-name span:first-child, .pokemon-number span:first-child, .pokemon-type span:first-child{
    
    font-weight: 700;

}

.container-type-agua{
    background-color: var(--bg-color-type-agua);
}

.container-type-dragon{
    background-color: var(--bg-color-type-dragon);
}

.container-type-electrico{
    background-color: var(--bg-color-type-electrico);
}

.container-type-fantasma{
    background-color: var(--bg-color-type-fantasma);
}

.container-type-fuego{
    background-color: var(--bg-color-type-fuego);
}

.container-type-hielo{
    background-color: var(--bg-color-type-hielo);
}

.container-type-normal{
    background-color: var(--bg-color-type-normal);
}

.container-type-planta{
    background-color: var(--bg-color-type-planta);
}

.container-type-tierra{
    background-color: var(--bg-color-type-tierra);
}

.container-type-veneno{
    background-color: var(--bg-color-type-veneno);
}

.container-type-volador{
    background-color: var(--bg-color-type-volador);
}



@media (min-width: 770px) {
    
    .main{
        justify-content: space-around;
    }
    
    .container-new-pokemon{
        width: 60%;
        height: 60vh;
        border-radius: 15px;
    }
    
    input, select{
        width: 65%;
    }
    
    .container-btn-guardar input{
        width: 100px;
    }
    
    .container-registered-pokemon{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        column-gap: 0;
    }

    .container-header-pokemon{
        
        display:flex;
        margin: 20px 50px;
        
    }
    
    .container-header-pokemon{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        font-weight: 700;
    }
    
    .container-header-name{
        grid-column: 2 / 3;
    }
    
    .container-header-number{
        grid-column: 3 / 4;
    }
    
    .container-header-type{
        grid-column: 4 / 5;
    }

    .container-pokemon{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 16vh;
        border: 4px solid black;
        border-radius: 15px;
        margin: 20px 50px;
        overflow: hidden;
    }
    
    .container-pokemon div{
        padding: 0;
    }

    .pokemon-image{
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        height: 100%;
        border: none;
        border-radius: 0;
    }

    .pokemon-image img{
        width: 100%;
        object-fit: contain;
        margin:0;

    }

    .pokemon-name{
        grid-area: 1 / 2 / 2 / 3;
    }

    .pokemon-number{
        grid-area: 1 / 3 / 2 / 4;
    }

    .pokemon-type{

        grid-area: 1 / 4 / 2 / 6;
    }

    .pokemon-name, .pokemon-number, .pokemon-type{

        padding: 15px 0;     

    }
    
    .pokemon-name span:first-child, .pokemon-number span:first-child, .pokemon-type span:first-child{
    
        display:none;
        
    }

}
