
/* 

    Archivo: globals.jsp
    
    Archivo que contiene variables y estilos globales para el sitio.

    Romo López Manuel
    ID: 00000253080

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    
    --bg-color-yellow: #F2E5A2;
    --bg-color-white:#FFFFFF;
    --bg-color-red:#D92929;
}

body{
    font-family: Lato, sans-serif;
    margin:0;
    padding:0;
}

